.container-mod {
    margin: 0 auto;
    background-color: rgb(205, 171, 119);
    width: 1000px;

    text-align: center;

}

.fizzbuzz {
    background-color: rgb(132, 200, 6);
}

.fizz {
    background-color: rgb(255, 198, 9);
}

.buzz { background-color: rgb(6, 189, 180);
}

#box {
    display: flex;
    flex-wrap: wrap;
    

}

#box > * {
    width: 80px;
    height: 80px;
    
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;

}